:host {
	 display: flex;
	 flex: 1;
	 flex-direction: column;
	 background: #f7f7f7;
}

h1 {
	 height: 60px;
	 display: flex;
	 padding-left: 15px;
	 justify-content: flex-start;
	 align-items: center;
	 font-size: 35px;
	 text-transform: uppercase;
	 font-weight: 200;
	 background: #3999b7;
	 color: white;
}